div.background-slideshow {
    text-align: center;
}
div.background-slideshow img {
    display: none;
    z-index: 1;
    width: 100%;
    vertical-align: auto;  
}
div.background-slideshow img.current {
    display: inline;  
    z-index: 2;
}
div.background-slideshow img.previous {
    z-index: 1;
}
button.prev, button.next {
    width: 5%;
    padding: 8px;
    margin: 10px;
}
 