.container{
    text-align: center;
}
.current {
    height: 300px;
    width: 70%;
    display: inline;
}
.previous {
    display: none;
}

.btn {
    text-align: center;
}

button {
    padding: 0.5% 2%;
    margin: 1%;
}